Options Indexes FollowSymlinks

<IfModule "mod_info.c">
	Header set x-mod_info "Enabled"
</IfModule>

<IfModule "mod_auth_basic.c">
	Header set x-mod_auth_basic "Enabled"
</IfModule>

<If "%{HTTP_HOST} == 'dell.gettransfer.lt'">
	Header set x-http_host "dell.gettransfer.lt"
</If>

