# https://editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

# [*]
# indent_style = space
# indent_size = tab
# tab_width = 2
# end_of_line = lf
# charset = utf-8
# trim_trailing_whitespace = true
# insert_final_newline = true
# max_line_length = 120
# # max_line_length = 120
#
# [sxhkdrc]
# tab_width = 1
# # indent_style = space
# # indent_size = 1
#
# [*.nix]
# indent_style = space
# indent_size = tab
# tab_width = 2
# max_line_length = 100
# trim_trailing_whitespace = true
# insert_final_newline = true

# https://github.com/editorconfig/editorconfig
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties

