// vim: sw=4 tabstop=4 invlist foldmarker=//\ https\://niri,};

// https://niri-wm.github.io/niri/Configuration:-Input
input {
	keyboard {
		xkb {
			layout "us,lt"
			// options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
			options "grp:alt_space_toggle"
		}
		repeat-delay 250
		repeat-rate 50
		numlock
	}
	touchpad {
		tap
		dwt
		drag-lock
		natural-scroll
	}

	mouse {
		// off
        // natural-scroll
		accel-speed 0.3
        accel-profile "flat"
        // scroll-factor 1.0
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "no-scroll"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulation 
	}
	tablet {
		map-to-output "eDP-1"
	}

	touch {
		map-to-output "eDP-1"
	}

	disable-power-key-handling
	warp-mouse-to-focus
	focus-follows-mouse max-scroll-amount="0%"
	// workspace-auto-back-and-forth
	mod-key "Super"
	mod-key-nested "Alt"
};
// https://niri-wm.github.io/niri/Configuration:-Outputs
output "DP-1" {
	// off
	mode "3840x2160"
	scale 2
	position x=1920 y=0
	focus-at-startup
}

output "eDP-1" {
	// off
	mode "3840x2160"
	scale 2.0
	position x=0 y=0
	// variable-refresh-rate on-demand=true
	focus-at-startup
	backdrop-color "#001100"

	layout {
		// ...layout settings for eDP-1...
	}

}

output "HDMI-A-1" {
	// off
	mode "1920x1080"
	position x=0 y=0
	// variable-refresh-rate on-demand=true
}

/-output "Sony SONY TV  *00 0x01010101" {
	// mode "3840x2160"
	mode "1920x1080"
	position x=0 y=0

};
// https://niri-wm.github.io/niri/Configuration:-Key-Bindings
include "binds.kdl"
binds {
};
// https://niri-wm.github.io/niri/Configuration:-Switch-Events
switch-events {
	lid-close	{ spawn "notify-send" "The laptop lid is closed!"; }
	lid-open	{ spawn "notify-send" "The laptop lid is open!"; }
	tablet-mode-on { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled true"; }
	tablet-mode-off { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled false"; }
};
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
	gaps 8
	center-focused-column "never"
	default-column-width { proportion 0.5; }
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
		// fixed 1920
	}
	preset-window-heights {	
		proportion 0.33333
		proportion 0.5;
		proportion 0.66667;
		proportion 1.0
	}
	focus-ring {
		width 1
		active-color "#7fc8ff"
		inactive-color "#505050"
		urgent-color "#9b0000"
	}
	insert-hint {
		color "#ffc87f80"
	}
};
// https://niri-wm.github.io/niri/Configuration:-Miscellaneous
spawn-at-startup "waybar"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "udiskie --tray"
// spawn-at-startup "hyprpaper"
spawn-at-startup "wluma"
// https://gist.github.com/zkat/beefc09ad8191dc7077290feceb19582

prefer-no-csd
screenshot-path "~ %Y%m%d_%H%M%S.png"
cursor {
	xcursor-theme "XCursor-Pro-Light"
	xcursor-size 24
	// hide-when-typing
	// hide-after-inactive-ms 2000
}
overview {
	zoom 0.3
}
xwayland-satellite {
	path "xwayland-satellite"
}
clipboard {
	disable-primary
}
hotkey-overlay { 
	skip-at-startup
	// hide-not-bound
}
blur {
	passes 3
	offset 3
	noise 0.02
	saturation 1.5
};
// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
	geometry-corner-radius 2
	clip-to-geometry true
	open-maximized-to-edges false
	open-maximized true
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

window-rule {
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
	default-column-width {}

}

window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#
	block-out-from "screen-capture"
	// block-out-from "screencast"
};
// https://niri-wm.github.io/niri/Configuration:-Layer-Rules
/-layer-rule {
	match namespace="waybar"
	match at-startup=true
	match layer="top"

	// Properties that apply continuously.
	opacity 0.5
	block-out-from "screencast"
	// block-out-from "screen-capture"

	shadow {
		on
		// off
		softness 40
		spread 5
		offset x=0 y=5
		draw-behind-window true
		color "#00000064"
		// inactive-color "#00000064"
	}

	geometry-corner-radius 12
	place-within-backdrop true
	baba-is-float true

	background-effect {
		xray true
		blur true
		noise 0.05
		saturation 3
	}

	popups {
		opacity 0.5
		geometry-corner-radius 6

		background-effect {
			xray true
			blur true
			noise 0.05
			saturation 3
		}
	}
};
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
};
// https://niri-wm.github.io/niri/Configuration:-Gestures
gestures {
	dnd-edge-view-scroll {
		trigger-width 30
		delay-ms 100
		max-speed 1500
	}
	dnd-edge-workspace-switch {
		trigger-height 50
		delay-ms 100
		max-speed 1500
	}
	hot-corners {
		top-left
		top-right
	}
};
// https://niri-wm.github.io/niri/Configuration:-Recent-Windows
recent-windows {
	binds {
		// Mod+Grave       { next-window     filter="app-id"; }
		// Mod+Shift+grave { previous-window filter="app-id"; }
		Mod+Tab         { next-window scope="output"; }
		Mod+Shift+Tab   { previous-window scope="output"; }
	}
	highlight {
		padding 0
		corner-radius 0
	}
	previews {
		max-height 1080
		max-scale 0.75
	}
};
// https://niri-wm.github.io/niri/Configuration:-Debug-Options
debug {
	preview-render "screencast"
	// preview-render "screen-capture"
	enable-overlay-planes
	disable-cursor-plane
	disable-direct-scanout
	restrict-primary-scanout-to-matching-format
	force-disable-connectors-on-resume
	render-drm-device "/dev/dri/renderD128"
	// ignore-drm-device "/dev/dri/renderD128"
	// ignore-drm-device "/dev/dri/renderD130"
	force-pipewire-invalid-modifier
	dbus-interfaces-in-non-session-instances
	wait-for-frame-completion-before-queueing
	emulate-zero-presentation-time
	disable-resize-throttling
	disable-transactions
	keep-laptop-panel-on-when-lid-is-closed
	disable-monitor-names
	strict-new-window-focus-policy
	honor-xdg-activation-with-invalid-serial
	skip-cursor-only-updates-during-vrr
	deactivate-unfocused-windows
	/-binds {
		Mod+Shift+Ctrl+T { toggle-debug-tint; }
		Mod+Shift+Ctrl+O { debug-toggle-opaque-regions; }
		Mod+Shift+Ctrl+D { debug-toggle-damage; }
	}
};

