// vim: sw=4 tabstop=4
// https://kdl.dev "/-" comments out node
// https://niri-wm.github.io/niri/Configuration:-Introduction

// https://niri-wm.github.io/niri/Configuration:-Input {{{
input {
	keyboard {
		xkb {
			layout "us,lt"
			// options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
			options "grp:alt_space_toggle"
		}
		repeat-delay 250
		repeat-rate 50
		numlock
	}
	touchpad {
		tap
		dwt
		drag-lock
		natural-scroll
	}

	mouse {
	}
	tablet {
		map-to-output "eDP-1"
	}

	touch {
		map-to-output "eDP-1"
	}

	disable-power-key-handling
	warp-mouse-to-focus
	focus-follows-mouse max-scroll-amount="0%"
	// workspace-auto-back-and-forth
	mod-key "Super"
	mod-key-nested "Alt"
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Outputs {{{
output "DP-1" {
	// off
	mode "3840x2160"
	scale 2
	position x=1920 y=0
	focus-at-startup
}

output "eDP-1" {
	// off
	mode "3840x2160"
	scale 2.0
	position x=0 y=0
	// variable-refresh-rate // on-demand=true
	focus-at-startup
	backdrop-color "#001100"

	layout {
		// ...layout settings for eDP-1...
	}

}

output "HDMI-A-1" {
	mode "1920x1080"
	position x=0 y=0
	variable-refresh-rate on-demand=true
}

/-output "Sony SONY TV  *00 0x01010101" {
	// mode "3840x2160"
	mode "1920x1080"
	position x=0 y=0

}
// }}}

// https://niri-wm.github.io/niri/Configuration:-Key-Bindings {{{
binds {
	// X86 {{{
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
	XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
	XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
	XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
	// }}}

	// Esc {{{
	// Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; } 
	Mod+F1 { show-hotkey-overlay; }
	Mod+F9 hotkey-overlay-title="nix-tree" { spawn-sh "nix-tree"; }
	Mod+F10 hotkey-overlay-title="swaylock" { spawn "swaylock"; }
	Mod+F11 hotkey-overlay-title="quit" { quit skip-confirmation=true; }
	Mod+F12 hotkey-overlay-title="loginctl terminate-user" { spawn-sh "loginctl terminate-user ''";}
	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }
	Mod+Pause { power-off-monitors; } // any input to turn on
	// }}}

	// Grave {{{
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	// }}}

	// Tab {{{
	Mod+Tab { focus-workspace-previous; }
	Mod+Q repeat=false { close-window; }
	Mod+W { spawn "firefox" "--new-window"; } // vertical tabs not stack
	Mod+Shift+W { spawn "firefox" "--private-window" "x.com"; } // vertical tabs not stack
	Mod+E { spawn "kitty" "-d" "/etc/nixos" "vim"; }
	Mod+R { switch-preset-column-width; }
	Mod+T hotkey-overlay-title="kitty" { spawn "kitty"; }
	Mod+O repeat=false { toggle-overview; }
	Mod+BracketLeft { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }
	// }}}

	// Caps {{{
	Mod+D hotkey-overlay-title="fuzzel" { spawn "fuzzel"; }
	Mod+Return { spawn "kitty"; }
	// }}}

	// Shift {{{
	Mod+Z allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
	Mod+X allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
	Mod+C { spawn "chromium" "-incognito" "x.com"; }
	Mod+Comma  { consume-window-into-column; }
	Mod+Period { expel-window-from-column; }
	// }}}

	// Arrow {{{
	Mod+Right { focus-column-right; }
	Mod+Left  { focus-column-left; }
	Mod+Down  { focus-window-down; }
	Mod+Up    { focus-window-up; }
	// }}}

	// Mouse {{{
	// Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
	// }}}

	// allow-inhibiting=false ensures niri always processes them
	// allow-when-locked=true hotkey-overlay-title=null { spawn-sh "|| exec "; }

	// { center-column; }
	// { center-visible-columns; }
	// { expand-column-to-available-width; }
	// { focus-column-left; }
	// { focus-column-right; }
	// { focus-column-first; }
	// { focus-monitor-left; }
	// { focus-monitor-right; }
	// { focus-window-or-workspace-down; }
	// { focus-workspace-down; }
	// { focus-workspace-up; }
	// { fullscreen-window; }
	// { maximize-column; }
	// { maximize-window-to-edges; }
	// { move-column-left; }
	// { move-column-right; }
	// { move-column-to-first; }
	// { move-column-to-last; }
	// { move-column-to-monitor-down; }
	// { move-column-to-monitor-left; }
	// { move-column-to-monitor-right; }
	// { move-column-to-monitor-up; }
	// { move-column-to-workspace-down; }
	// { move-column-to-workspace-up; }
	// { move-window-down-or-to-workspace-down; }
	// { move-window-down; }
	// { move-window-to-monitor-left; }
	// { move-window-to-workspace 1; }
	// { move-window-to-workspace-down; }
	// { move-window-up; }
	// { move-workspace-down; }
	// { move-workspace-to-monitor-left; }
	// { move-workspace-up; }
	// { reset-window-height; }
	// { set-column-width "+10%"; }
	// { set-column-width "-10%"; }
	// { set-window-height "+10%"; }
	// { set-window-height "-10%"; }
	// { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
	// { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
	// { switch-focus-between-floating-and-tiling; }
	// { switch-layout "next"; }
	// { switch-layout "prev"; }
	// { switch-preset-column-width-back; }
	// { switch-preset-window-height; }
	// { toggle-column-tabbed-display; } // vertical tabs not stack
	// { toggle-window-floating; }

}
// }}}

// https://niri-wm.github.io/niri/Configuration:-Switch-Events {{{
switch-events {
	lid-close { spawn "notify-send" "The laptop lid is closed!"; }
	lid-open { spawn "notify-send" "The laptop lid is open!"; }
	tablet-mode-on { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled true"; }
	tablet-mode-off { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled false"; }
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Layout {{{
layout {
	gaps 16
	/-struts {
		left -16
		right -16
		top -16
		bottom -16
	}
	center-focused-column "never"

	// switch-preset-column-width (Mod+R) toggles between.
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
		// fixed 1920
	}

	// switch-preset-window-height  (Mod+Ctrl+Shift+R) toggles between.
	preset-window-heights {	proportion 0.5;	}
	default-column-width { proportion 0.5; }

	focus-ring {
		on
		width 4
		active-color "#7fc8ff"
		inactive-color "#505050"
		urgent-color "#9b0000"
	}

	border {
		off
		width 2
		active-color "#ffc87f"
		inactive-color "#505050"
		urgent-color "#9b0000"
		// active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}

	shadow {
		on
		softness 30
		spread 5
		offset x=0 y=5
		draw-behind-window true
		color "#0007"
	}
	insert-hint {
		// off
		on
		color "#ffc87f80"
		// gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
	}

}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Miscellaneous {{{
spawn-at-startup "waybar"
prefer-no-csd
screenshot-path "~/Pictures/Screenshot from %Y-%m-%d %H-%M-%S.png"
cursor {
	xcursor-theme "XCursor-Pro-Light"
	xcursor-size 24
	hide-when-typing
	hide-after-inactive-ms 1000
}
overview {
	zoom 0.5
	backdrop-color "#262626"

	workspace-shadow {
		// off
		softness 40
		spread 10
		offset x=0 y=10
		color "#00000050"
	}
}
xwayland-satellite {
	// off
	path "xwayland-satellite"
}
clipboard {
	disable-primary
}

hotkey-overlay { 
	skip-at-startup
	hide-not-bound
}
blur {
	// off
	passes 3
	offset 3
	noise 0.02
	saturation 1.5
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Window-Rules {{{
window-rule {
	geometry-corner-radius 2
	clip-to-geometry true
}
window-rule {
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
	default-column-width {}
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#
	block-out-from "screen-capture"
	// Use this instead if you want them visible on third-party screenshot tools.
	// block-out-from "screencast"
}

// }}}
// https://niri-wm.github.io/niri/Configuration:-Layer-Rules {{{
/-layer-rule {
	match namespace="waybar"
	match at-startup=true
	match layer="top"

	// Properties that apply continuously.
	opacity 0.5
	block-out-from "screencast"
	// block-out-from "screen-capture"

	shadow {
		on
		// off
		softness 40
		spread 5
		offset x=0 y=5
		draw-behind-window true
		color "#00000064"
		// inactive-color "#00000064"
	}

	geometry-corner-radius 12
	place-within-backdrop true
	baba-is-float true

	background-effect {
		xray true
		blur true
		noise 0.05
		saturation 3
	}

	popups {
		opacity 0.5
		geometry-corner-radius 6

		background-effect {
			xray true
			blur true
			noise 0.05
			saturation 3
		}
	}
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Animations {{{
animations {
	// off
	// slowdown 2.0
	workspace-switch {
		spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
	}

	window-open {
		duration-ms 150
		curve "ease-out-expo"
	}

	window-close {
		duration-ms 150
		curve "ease-out-quad"
	}

	horizontal-view-movement {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}

	window-movement {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}

	window-resize {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}

	config-notification-open-close {
		spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
	}

	exit-confirmation-open-close {
		spring damping-ratio=0.6 stiffness=500 epsilon=0.01
	}

	screenshot-ui-open {
		duration-ms 200
		curve "ease-out-quad"
	}

	overview-open-close {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}

	recent-windows-close {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.001
	}
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Gestures {{{
gestures {
	dnd-edge-view-scroll {
		trigger-width 30
		delay-ms 100
		max-speed 1500
	}
	dnd-edge-workspace-switch {
		trigger-height 50
		delay-ms 100
		max-speed 1500
	}
	hot-corners {
		// off
		top-left
		top-right
	}
}

// }}}
// https://niri-wm.github.io/niri/Configuration:-Recent-Windows {{{
recent-windows {
	debounce-ms 750
	open-delay-ms 150
	highlight {
		active-color "#999999ff"
		urgent-color "#ff9999ff"
		padding 8
		corner-radius 4
	}

	previews {
		max-height 1080
		max-scale 0.5
	}

	binds {

		Mod+Tab         { next-window scope="output"; }
		Mod+Shift+Tab   { previous-window scope="output"; }
		Mod+grave       { next-window     filter="app-id"; }
		Mod+Shift+grave { previous-window filter="app-id"; }
	}
}
// }}}
// https://niri-wm.github.io/niri/Configuration:-Debug-Options {{{
debug {
	preview-render "screencast"
	// preview-render "screen-capture"
	enable-overlay-planes
	disable-cursor-plane
	disable-direct-scanout
	restrict-primary-scanout-to-matching-format
	force-disable-connectors-on-resume
	render-drm-device "/dev/dri/renderD128"
	// ignore-drm-device "/dev/dri/renderD128"
	// ignore-drm-device "/dev/dri/renderD130"
	force-pipewire-invalid-modifier
	dbus-interfaces-in-non-session-instances
	wait-for-frame-completion-before-queueing
	emulate-zero-presentation-time
	disable-resize-throttling
	disable-transactions
	keep-laptop-panel-on-when-lid-is-closed
	disable-monitor-names
	strict-new-window-focus-policy
	honor-xdg-activation-with-invalid-serial
	skip-cursor-only-updates-during-vrr
	deactivate-unfocused-windows
}

/-binds {
	Mod+Shift+Ctrl+T { toggle-debug-tint; }
	Mod+Shift+Ctrl+O { debug-toggle-opaque-regions; }
	Mod+Shift+Ctrl+D { debug-toggle-damage; }
}
// }}}
