body {
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
	font-size: 16px;
}

pre {
	background-color: white;
}

.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-image: url("./img/bgs.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	nav {
		display: flex;
		justify-content: center;
		padding: 0.5em;
		background-color: black;


		a {
			color: white;
			text-decoration: none;
			margin: 0.5em;
		}
	}

	#content {
		margin: 1rem;
		padding: 1rem;
		flex: 1;
		overflow: auto;
		background-color: gray;

	}


	footer {
		position: fixed;
		bottom: 0px;
		display: flex;
	}

	form {
		display: flex;
	}
}
