html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  #top {
    background: silver;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;

    form {
      margin-right: 1rem;
    }
  }

  #content {
    flex: 1;
    overflow: auto;
  }

  #footer {
    background: silver;
    display: flex;
    flex-wrap: wrap;
  }
}

h4 {
  /* display: flex; */
  font-size: 1em;
  font-weight: unset;
  margin-block: unset;
}

a {
  text-decoration: none;
}

input {
  &[type="number"] {
    width: 6ch;
  }
}

#dilaina_dialog {
  margin-top: 2rem;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: scroll;
  position: absolute;
  display: flexbox;

  &>button {
    position: absolute;
    right: 0.5rem;
  }
}

details {
  margin: 0.25rem;

  &>summary {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &>.title {
      display: flex;
      align-items: center;

      &>* {
        margin-right: 0.5rem;
      }
    }
  }

  &>div {
    padding-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0.5rem;
  }
}
