--theme=gruvbox-dark
--pager='less -R'
--style=full
# --style=numbers,changes,header
--ignored-suffix=".extra"
--map-syntax='bashrc:Bourne Again Shell (bash)'
--map-syntax='zshrc:Bourne Again Shell (bash)'
--map-syntax='zshenv:Bourne Again Shell (bash)'
--map-syntax='*.postcss:CSS'
--map-syntax='*.prisma:GraphQL'
--map-syntax='*.mdx:Markdown'
--map-syntax=flake.lock:JSON
