/* main.width-wrap { */
/* 	max-width: 1000px; */
/* } */

@-moz-document url("https://example.com/") {
	* {
		color: green;
	}
}

@-moz-document url(https://xhamster.com/), domain(xhamster.com) {

	:root {
		--top-menu-height: 0px !important;
	}

	.top-menu-container,
	.controls,
	#commentBox:nth-child(1) {
		display: none !important;
		visibility: hidden !important;
	}

	body>div.main-wrap {
		margin: 0 0 !important;
	}

	.width-wrap {
		max-width: 100vw !important;
	}

	.video-page .player-container {
		margin-right: 0px !important;
	}




	@media screen and (min-width: 1536px) {
		.main-wrap {
			max-width: 100vw !important;
		}

		.width-wrap {
			max-width: 100vw !important;
		}
	}
}
