AuthName "Restricted Files"
Authtype Basic
AuthBasicProvider file
<If "%{HTTP_HOST} == 'a.gettransfer.lt'">
	AuthUserFile "/domains/a.gettransfer.lt/public_html/.htpasswd"
</If>
<Else>
	AuthUserFile "/etc/nixos/a/.htpasswd"
</Else>
# Require user foo
