/* vim: sw=4 */
/* https: //github.com/kamlendras/waybar-macos-sequoia/tree/main */
/* https://github.com/Alexays/Waybar/blob/master/resources/style.css */

@define-color 	bg	#282828;
@define-color	bg0h	#1d2021;
@define-color	bg0s	#32302f;
@define-color 	bg0	#282828;
@define-color 	bg1	#3c3836;
@define-color 	bg2	#504945;
@define-color 	bg3 	#665c54;
@define-color 	bg4	#7c6f64;
@define-color 	fg	#ebdbb2;
@define-color 	fg0	#fbf1c7;
@define-color 	fg1	#ebdbb2;
@define-color 	fg2	#d5c4a1;
@define-color 	fg3	#bdae93;
@define-color 	fg4	#a89984;
@define-color 	gray	#928374;
@define-color 	gray2	#928374;
@define-color 	gray3	#a89984;
@define-color 	red 	#cc241d;
@define-color 	red2	#fb4934;
@define-color 	green 	#98971a;
@define-color 	green2	#b8bb26;
@define-color 	yellow 	#d79921;
@define-color 	yellow2	#fabd2f;
@define-color 	blue  	#458588;
@define-color 	blue2	#83a598;
@define-color 	purple 	#b16286;
@define-color	purple2	#d3869b;
@define-color 	aqua 	#689d6a;
@define-color 	aqua2	#8ec07c;
@define-color 	orange	#d65d0e;
@define-color 	orange2	#fe8019;
@define-color 	o2 rgba(0, 255, 0, 0.2);


* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    color: @fg0;
    background-color: @bg0h;
    border-bottom: 2px solid @yellow;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -2px transparent;
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @orange;
}
label:focus {
    background-color: #000000;
}

/* margins */
#window,
#workspaces,
#taskbar {
    margin: 0 32px;
}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* tray */
#tray {
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

/* workspaces */
#workspaces button {
	padding: 0px 8px;
	background-color: transparent;
	color: @fg3;
}
#workspaces button:hover {
}
#workspaces button.focused, #workspaces button.active {
	color: @green; 
	box-shadow: inset 0 -3px @green;
}

@keyframes blink {
    to {
        /* background-color: @bg; */
        color: @green;
    }
}
/* drawer */
#custom-drawer {
	color: @fg;
	/* animation-name: blink; */
	/* animation-duration: 0.9s; */
	/* animation-timing-function: steps(12); */
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */

}
#custom-drawer:hover {
	color: @green;
}

/* taskbar */
#taskbar button {
}
#taskbar button:hover {
}
#taskbar button.focused, #taskbar button.active {
	color: @green; 
}

/* pulseaudio */
#pulseaudio-slider {
	padding: 0px 8px;
}
#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0.6;
	background-image: none;
	border: none;
	box-shadow: none;
}
#pulseaudio-slider trough {
	min-height: 12px;
	min-width: 100px;
	border-radius: 5px;
	background: @bg2;
}
#pulseaudio-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background: @green;
}




/* battery */
#battery {

	  -gtk-icon-source: -gtk-scaled(url("/etc/profiles/per-user/root/share/icons/Papirus/32x32@2x/status/battery-100.svg"), url('my-arrow@2.png'));
			}

/* #battery::before { */
/*   content: url("/etc/profiles/per-user/root/share/icons/Papirus/32x32@2x/status/battery-100.svg"); */
/*   display: inline-block; */
/*   width: 15px; */
/*   height: 15px; */
/*   margin-right: 5px; */
/* } */

#battery.full {
	color: @red;
}
#battery.discharging { color: @blue; }

#clock {
	font-size: 12px;
	color: @fg3;
}
