/* https: //github.com/kamlendras/waybar-macos-sequoia/tree/main */

window#waybar.bottom_bar {
	background: #1d2021;
}

#clock {
	font-size: 12px;
}

#custom-firefox {
	background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/firefox-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70%;
}

#custom-firefox:hover {
	background-size: contain;
}
