[Desktop Entry]
Version=1.0
Type=Application
Name=alacritty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
StartupNotify=false
TryExec=alacritty -e
Exec=alacritty -e %F
Icon=alacritty
Categories=System;TerminalEmulator;
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
