[Desktop Entry]
Version=1.0
Type=Application
Name=alacritty-lf
StartupNotify=true
TryExec=alacritty -e lf
Exec=alacritty -e lf %F
Icon=alacritty
Categories=System;TerminalEmulator;
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
