/* https: //github.com/kamlendras/waybar-macos-sequoia/tree/main */

#clock {
    font-size: 12px;
}

#custom-run_files {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/places/folder-adwaita.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_music {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/spotify.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_messenger {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/FacebookMessenger-facebook.com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_firefox {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/firefox-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_calculator {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/calc.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_gnome_tweaks {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/org.gnome.tweaks.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-run_editor {
    background-image: url('/run/current-system/sw/share/icons/Papirus/64x64/apps/nvim.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
