body,
html {
  margin: 0;
  padding: 0;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: gray;
    }
  }
}


.__ {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 1rem;
}

body {
  color: white;
  background-image: url('img/bgl.png');
  background-position: center center;

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media screen and (max-height: 500px) {
  body {
    background-position: calc(100% / 2) calc(100% / 1.5);
  }

}

#navd {
  background: rgba(0, 0, 0, 0.9);
  padding: 1rem;

  nav {
    float: right;
  }
}



footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;

}
