body,
html {
  margin: 0;
  padding: 0;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: gray;
    }
  }

}

body {
  /* background-image: url('img/bgl.png'); */
  /* background-position: center center; */
  background-position: calc(100% / 2) calc(100% / 2);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media screen and (max-width: 500px) {
  body {
    background-position: calc(100% / 2) calc(100% / 2);
  }

}



footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding-bottom: 0.5rem;
  text-align: center;

}
