AuthName "Restricted Files"
Authtype Basic
AuthBasicProvider anon
# <If "%{HTTP_HOST} == 'a.gettransfer.lt'">
# 	AuthUserFile "/domains/a.gettransfer.lt/public_html/.htpasswd"
# </If>
# <Else>
# 	AuthUserFile "/etc/nixos/a/.htpasswd"
# </Else>

Anonymous_NoUserID off
Anonymous_MustGiveEmail off
Anonymous_VerifyEmail off
Anonymous_LogEmail off
Anonymous anonymous guest www test welcome

Require valid-user
